form {
    font-family: 'Dosis', sans-serif;
    /* display: flex;
    flex-direction: row; */
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #B1DDEA;
    padding: 20px;
}

label {
    background-color: #B1DDEA;
    font-size: 24px;
    margin-bottom: 10px;
}

.titleInput {
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

.thoughtInput {
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    font-family: 'Dosis', sans-serif;
    margin-top: 20px;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
}


/* body > section:nth-child(1) > form:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: pink;
} */