    .thoughts {
        font-family: 'Homemade Apple', cursive;
        color: rgb(3, 169, 244);
        font-size: 40px;
        margin-bottom: 50px;
        background-color: #f3f1f7;
    }
    
    h1,
    p,
    i {
        font-family: 'Dosis', sans-serif;
        background-color: white;
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .allPosts {
        margin-top: 20px;
        padding-bottom: 20px;
        border: 1px solid black;
        border-radius: 5px;
        width: 40%;
        background-color: white;
    }
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    button {
        height: 50px;
        width: 40%;
        background-color: white;
        border: 1px solid black;
        font-size: 20px;
        border-radius: 5px;
    }
    
    .form {
        border-bottom: 3px solid #f3f1f7;
        width: 80%;
        margin-top: 20px;
        background-color: white;
    }
    
    .postTitle {
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }
    
    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .newForms {
        display: flex;
        justify-content: flex-start;
    }